
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  background-color: lightblue;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: "cobaltblue";

}


#Main-Title { 

  color: blueviolet;
  text-align: center;

}


#TTT-Grid-Parent { 

  display: grid; grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 50vw; height: 70vh;

}

#Start { 

  text-align: center; color: green; font: bold; 
  cursor: pointer;
}

#Score { 
display: flex; justify-content: center; align-items: center; gap: 1.5vw;}
